@{
    ViewData["Title"] = "OrderCreation";
}
<h1>OrderCreation</h1>
    <style>
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#selectable" ).selectable();
  } );
  </script>
<div ng-view="" class="ng-scope" style="">
    <div class="wrapper ng-scope">
        <div class="refresh" style="display: none;"></div>
        <!-- ngIf: orderViewTab.tab == 1 --><div class="row page-header ng-scope" ng-if="orderViewTab.tab == 1" style="">
            <div class="col-5">
                <div class="backtoOrder">
                    <p ng-click="changeOrderView(0)" role="button" tabindex="0"><i class="fa fa-arrow-left pl-4" aria-hidden="true"></i> Go Back</p>
                </div>
            </div>
            <div class="col-6">
                <div class="">
                    <h4 class="ng-binding">Build Your Order</h4>
                    <!--<h4></h4>-->
                </div>
            </div>
        </div><!-- end ngIf: orderViewTab.tab == 1 -->
        <!-- ngIf: orderViewTab.tab == 0 -->
        <!-- ngIf: orderViewTab.tab == 0 && user.role != 'dealer' -->
        <!-- ngIf: orderViewTab.tab == 1 && customer.Dealercode -->
        <div class="row ng-scope" ng-if="orderViewTab.tab == 1 &amp;&amp; customer.Dealercode" style="">
            <div class="col-2" style="padding: 5px">
                <div class="card" style="text-align: center">
                    <div class="card-body" style="padding: 15px">
                        <h6 style="color:#007bff ;"><p style="display: inline-block;border-radius: 60px;box-shadow: 0px 0px 2px #888;padding: 0.4em 0.4em ;color:#007bff ;border-color:#007bff ">1</p>  &nbsp; Select Item</h6>
                        <div class="input-group">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Search" ng-model="itemSearch.item" ng-click="clearFilter(2);" data-toggle="modal" data-target="#searchModal" aria-label="Username" aria-describedby="basic-addon1" tabindex="0" aria-invalid="false">
                        </div>
                        <br>
                        <!-- ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item -->
                        <div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center;" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index --><i class="fa fa-check ng-scope" style="color: rgb(0, 123, 255);" ng-if="activeItem == $index" aria-hidden="true"></i><!-- end ngIf: activeItem == $index -->
                                AYUSH CUSHIONS
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item --><div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index -->
                                BLOCKS
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item --><div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index -->
                                CHIP FOAM SHEETS
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item --><div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index -->
                                LATEX LIKE FOAM SHEETS
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item --><div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index -->
                                MF CUSHIONS
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item --><div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index -->
                                MF ROLLS
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item --><div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index -->
                                MF SHEETS
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item --><div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index -->
                                PUF CUSHIONS
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item --><div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index -->
                                PUF CUSHIONS TOUCH
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item --><div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index -->
                                PUF DUSTERS
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item --><div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index -->
                                PUF ROLLS
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item --><div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index -->
                                PUF SHEETS
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item --><div ng-repeat="item in matressName | unique: &#39;l5&#39; | filter : itemSearch.item" style="text-align: center" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedItem($index, item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeItem == $index -->
                                PUF SHEETS TOUCH
                            </p>
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressName | unique: 'l5' | filter : itemSearch.item -->
                    </div>
                </div>
            </div>
            <!-- ngIf: matressGrades.length --><div class="col-2 ng-scope" style="padding: 5px;" ng-if="matressGrades.length">
                <div class="card" style="text-align: center">
                    <div class="card-body" style="padding: 15px">
                        <h6 style="color:#007bff ;text-align: center"><p style="display: inline-block;border-radius: 60px;box-shadow: 0px 0px 2px #888;padding: 0.4em 0.4em ;color:#007bff ;border-color:#007bff ">2</p>  &nbsp; Select Grade</h6>
                        <div class="input-group">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Search" ng-model="itemSearch.grade" ng-click="clearFilter(2);" data-toggle="modal" data-target="#searchModal" aria-label="Username" aria-describedby="basic-addon1" tabindex="0" aria-invalid="false">
                        </div>
                        <br>
                        <!-- ngRepeat: item in matressGrades | unique: 'grade' | filter : itemSearch.grade --><div ng-repeat="item in matressGrades | unique: &#39;grade&#39; | filter : itemSearch.grade" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedGrade(item.grade)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeGrade == item.grade && activeGrade --><i class="fa fa-check ng-scope" style="color: rgb(0, 123, 255);" ng-if="activeGrade == item.grade &amp;&amp; activeGrade" aria-hidden="true"></i><!-- end ngIf: activeGrade == item.grade && activeGrade -->
                                GLG
                            </p>
                            <!-- <div class="row" style="text-align: center">
                                 <div class="col-1" style="padding: 0px">
                                     <i class="fa fa-check" style=" color:#007bff;" ng-if="activeGrade == item.grade && activeGrade" aria-hidden="true"></i>
                                 </div>
                                 <div class="col-6" style="padding: 0px">
                                     <p style="margin: 0px" ng-click="selectedGrade(item.grade)">{{item.grade}}</p>
                                 </div>
                             </div>-->
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressGrades | unique: 'grade' | filter : itemSearch.grade --><div ng-repeat="item in matressGrades | unique: &#39;grade&#39; | filter : itemSearch.grade" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedGrade(item.grade)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeGrade == item.grade && activeGrade -->
                                IFO
                            </p>
                            <!-- <div class="row" style="text-align: center">
                                 <div class="col-1" style="padding: 0px">
                                     <i class="fa fa-check" style=" color:#007bff;" ng-if="activeGrade == item.grade && activeGrade" aria-hidden="true"></i>
                                 </div>
                                 <div class="col-6" style="padding: 0px">
                                     <p style="margin: 0px" ng-click="selectedGrade(item.grade)">{{item.grade}}</p>
                                 </div>
                             </div>-->
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressGrades | unique: 'grade' | filter : itemSearch.grade --><div ng-repeat="item in matressGrades | unique: &#39;grade&#39; | filter : itemSearch.grade" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedGrade(item.grade)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeGrade == item.grade && activeGrade -->
                                REX
                            </p>
                            <!-- <div class="row" style="text-align: center">
                                 <div class="col-1" style="padding: 0px">
                                     <i class="fa fa-check" style=" color:#007bff;" ng-if="activeGrade == item.grade && activeGrade" aria-hidden="true"></i>
                                 </div>
                                 <div class="col-6" style="padding: 0px">
                                     <p style="margin: 0px" ng-click="selectedGrade(item.grade)">{{item.grade}}</p>
                                 </div>
                             </div>-->
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressGrades | unique: 'grade' | filter : itemSearch.grade --><div ng-repeat="item in matressGrades | unique: &#39;grade&#39; | filter : itemSearch.grade" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedGrade(item.grade)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeGrade == item.grade && activeGrade -->
                                SRE
                            </p>
                            <!-- <div class="row" style="text-align: center">
                                 <div class="col-1" style="padding: 0px">
                                     <i class="fa fa-check" style=" color:#007bff;" ng-if="activeGrade == item.grade && activeGrade" aria-hidden="true"></i>
                                 </div>
                                 <div class="col-6" style="padding: 0px">
                                     <p style="margin: 0px" ng-click="selectedGrade(item.grade)">{{item.grade}}</p>
                                 </div>
                             </div>-->
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressGrades | unique: 'grade' | filter : itemSearch.grade -->
                    </div>
                </div>
            </div><!-- end ngIf: matressGrades.length -->
            <!-- ngIf: matressDensity.length --><div class="col-2 ng-scope" style="padding: 5px;" ng-if="matressDensity.length">
                <div class="card" style="text-align: center ">
                    <div class="card-body" style="padding: 15px">
                        <h6 style="color:#007bff;"><p style="display: inline-block;border-radius: 60px;box-shadow: 0px 0px 2px #888;padding: 0.4em 0.4em ;color:#007bff ;border-color:#007bff ">3</p>  &nbsp; Select Density</h6>
                        <div class="input-group">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Search" ng-model="itemSearch.density" ng-click="clearFilter(2);" data-toggle="modal" data-target="#searchModal" aria-label="Username" aria-describedby="basic-addon1" tabindex="0" aria-invalid="false">
                        </div>
                        <br>
                        <!-- ngRepeat: item in matressDensity | unique: 'density' | filter : itemSearch.density --><div ng-repeat="item in matressDensity | unique: &#39;density&#39; | filter : itemSearch.density" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedDensity(item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeDensity == item.density && activeDensity --><i class="fa fa-check ng-scope" style="color: rgb(0, 123, 255);" ng-if="activeDensity == item.density &amp;&amp; activeDensity" aria-hidden="true"></i><!-- end ngIf: activeDensity == item.density && activeDensity -->
                                023D
                            </p>
                            <!-- <div class="row" style="text-align: center">
                                 <div class="col-1" style="padding: 0px">
                                     <i class="fa fa-check" style=" color:#007bff;" ng-if="activeDensity == item.density && activeDensity" aria-hidden="true"></i>
                                 </div>
                                 <div class="col-6" style="padding: 0px">
                                     <p style="margin: 0px" ng-click="selectedDensity(item.density)">{{item.density}}</p>
                                 </div>
                             </div>-->
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressDensity | unique: 'density' | filter : itemSearch.density --><div ng-repeat="item in matressDensity | unique: &#39;density&#39; | filter : itemSearch.density" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedDensity(item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeDensity == item.density && activeDensity -->
                                028D
                            </p>
                            <!-- <div class="row" style="text-align: center">
                                 <div class="col-1" style="padding: 0px">
                                     <i class="fa fa-check" style=" color:#007bff;" ng-if="activeDensity == item.density && activeDensity" aria-hidden="true"></i>
                                 </div>
                                 <div class="col-6" style="padding: 0px">
                                     <p style="margin: 0px" ng-click="selectedDensity(item.density)">{{item.density}}</p>
                                 </div>
                             </div>-->
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressDensity | unique: 'density' | filter : itemSearch.density --><div ng-repeat="item in matressDensity | unique: &#39;density&#39; | filter : itemSearch.density" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedDensity(item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeDensity == item.density && activeDensity -->
                                032D
                            </p>
                            <!-- <div class="row" style="text-align: center">
                                 <div class="col-1" style="padding: 0px">
                                     <i class="fa fa-check" style=" color:#007bff;" ng-if="activeDensity == item.density && activeDensity" aria-hidden="true"></i>
                                 </div>
                                 <div class="col-6" style="padding: 0px">
                                     <p style="margin: 0px" ng-click="selectedDensity(item.density)">{{item.density}}</p>
                                 </div>
                             </div>-->
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressDensity | unique: 'density' | filter : itemSearch.density --><div ng-repeat="item in matressDensity | unique: &#39;density&#39; | filter : itemSearch.density" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedDensity(item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeDensity == item.density && activeDensity -->
                                040D
                            </p>
                            <!-- <div class="row" style="text-align: center">
                                 <div class="col-1" style="padding: 0px">
                                     <i class="fa fa-check" style=" color:#007bff;" ng-if="activeDensity == item.density && activeDensity" aria-hidden="true"></i>
                                 </div>
                                 <div class="col-6" style="padding: 0px">
                                     <p style="margin: 0px" ng-click="selectedDensity(item.density)">{{item.density}}</p>
                                 </div>
                             </div>-->
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressDensity | unique: 'density' | filter : itemSearch.density --><div ng-repeat="item in matressDensity | unique: &#39;density&#39; | filter : itemSearch.density" class="ng-scope">
                            <p style="margin: 0px" ng-click="selectedDensity(item)" class="ng-binding" role="button" tabindex="0">
                                <!-- ngIf: activeDensity == item.density && activeDensity -->
                                050D
                            </p>
                            <!-- <div class="row" style="text-align: center">
                                 <div class="col-1" style="padding: 0px">
                                     <i class="fa fa-check" style=" color:#007bff;" ng-if="activeDensity == item.density && activeDensity" aria-hidden="true"></i>
                                 </div>
                                 <div class="col-6" style="padding: 0px">
                                     <p style="margin: 0px" ng-click="selectedDensity(item.density)">{{item.density}}</p>
                                 </div>
                             </div>-->
                            <hr style="width: 150px">
                        </div><!-- end ngRepeat: item in matressDensity | unique: 'density' | filter : itemSearch.density -->
                    </div>
                </div>
            </div><!-- end ngIf: matressDensity.length -->
            <div class="col-2">
                <!-- ngIf: activeDensity --><div class="row-2 ng-scope" style="padding: 5px;" ng-if="activeDensity">
                    <div class="card" style="text-align: center ">
                        <div class="card-body" style="padding: 15px">
                            <h6 style="color:#007bff ;text-align: center">&nbsp; Primary UOM</h6>
                            <p class="ng-binding">BUNDLE</p>
                        </div>
                    </div>
                </div><!-- end ngIf: activeDensity -->
                <!-- ngIf: activeDensity --><div class="row-2 ng-scope" style="padding: 5px" ng-if="activeDensity">
                    <div class="card" style="text-align: center ">
                        <div class="card-body" style="padding: 15px">
                            <h6 style="color:#007bff ;text-align: center">
                                <p style="display: inline-block;border-radius: 60px;box-shadow: 0px 0px 2px #888;padding: 0.4em 0.4em ;color:#007bff ;border-color:#007bff ">4</p>  &nbsp; Select Size
                            </h6>
                            <!-- ngIf: custOrder.primary_UOM != 'KG' --><p ng-if="custOrder.primary_UOM != &#39;KG&#39;" style="margin: 0px;text-align: left" class="ng-binding ng-scope">Length (Inch)</p><!-- end ngIf: custOrder.primary_UOM != 'KG' -->
                            <!-- ngIf: custOrder.primary_UOM != 'KG' --><select ng-if="custOrder.primary_UOM != &#39;KG&#39;" class="form-control ng-valid ng-scope ng-dirty ng-valid-parse ng-touched" ng-model="custOrder.leng" ng-change="customLen()" tabindex="0" aria-invalid="false" style="">
                                <option value="">Select</option>
                                <!-- ngIf: config.custom_options -->
                                <!-- ngRepeat: len in duroLength track by $index -->
                                <option ng-repeat="len in duroLength track by $index" class="ng-binding ng-scope" value="21">21</option><!-- end ngRepeat: len in duroLength track by $index -->
                                <option ng-repeat="len in duroLength track by $index" class="ng-binding ng-scope" value="22">22</option><!-- end ngRepeat: len in duroLength track by $index -->
                                <option ng-repeat="len in duroLength track by $index" class="ng-binding ng-scope" value="24">24</option><!-- end ngRepeat: len in duroLength track by $index -->
                            </select><!-- end ngIf: custOrder.primary_UOM != 'KG' -->
                            <!-- ngIf: custOrder.primary_UOM != 'KG' --><br ng-if="custOrder.primary_UOM != &#39;KG&#39;" class="ng-scope"><!-- end ngIf: custOrder.primary_UOM != 'KG' -->
                            <!-- ngIf: custOrder.primary_UOM != 'KG' && custLen -->
                            <!-- ngIf: custOrder.primary_UOM != 'KG' --><br ng-if="custOrder.primary_UOM != &#39;KG&#39;" class="ng-scope"><!-- end ngIf: custOrder.primary_UOM != 'KG' -->
                            <p style="margin: 0px;text-align: left" class="ng-binding">Width (Inch)</p>
                            <select class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="custOrder.width" ng-change="customWidth()" tabindex="0" aria-invalid="false" style="">
                                <option value="">Select</option>
                                <!-- ngIf: config.custom_options -->
                                <!-- ngRepeat: width in duroWidth track by $index -->
                                <option ng-repeat="width in duroWidth track by $index" class="ng-binding ng-scope" value="18">18</option><!-- end ngRepeat: width in duroWidth track by $index -->
                                <option ng-repeat="width in duroWidth track by $index" class="ng-binding ng-scope" value="21">21</option><!-- end ngRepeat: width in duroWidth track by $index -->
                            </select>
                            <br>
                            <!-- ngIf: custWidth -->
                            <br>
                            <!-- ngIf: custOrder.primary_UOM != 'BLOCKS' --><p style="margin: 0px;text-align: left" ng-if="custOrder.primary_UOM != &#39;BLOCKS&#39;" class="ng-binding ng-scope">Thickness (MM)</p><!-- end ngIf: custOrder.primary_UOM != 'BLOCKS' -->
                            <!-- ngIf: duroThickness.length && custOrder.primary_UOM != 'BLOCKS' --><select class="form-control ng-valid ng-scope ng-dirty ng-valid-parse ng-touched" ng-if="duroThickness.length &amp;&amp; custOrder.primary_UOM != &#39;BLOCKS&#39;" ng-model="custOrder.thickness" ng-change="customThickness()" tabindex="0" aria-invalid="false" style="">
                                <option value="">Select</option>
                                <!-- ngIf: config.custom_options -->
                                <!-- ngRepeat: thickness in duroThickness track by $index -->
                                <option ng-repeat="thickness in duroThickness track by $index" class="ng-binding ng-scope" value="125">125</option><!-- end ngRepeat: thickness in duroThickness track by $index -->
                                <option ng-repeat="thickness in duroThickness track by $index" class="ng-binding ng-scope" value="152">152</option><!-- end ngRepeat: thickness in duroThickness track by $index -->
                            </select><!-- end ngIf: duroThickness.length && custOrder.primary_UOM != 'BLOCKS' -->
                            <!-- ngIf: !duroThickness.length && custOrder.primary_UOM != 'BLOCKS' -->
                            <!-- ngIf: custOrder.primary_UOM != 'BLOCKS' --><p style="margin: 0px; text-align: left" ng-if="custOrder.primary_UOM != &#39;BLOCKS&#39;" class="ng-scope"><!-- ngIf: duroThickness.TMin --><!-- ngIf: duroThickness.TMax --></p><!-- end ngIf: custOrder.primary_UOM != 'BLOCKS' -->
                            <!-- ngIf: custOrder.primary_UOM == 'BLOCKS' -->
                        </div>
                        <br>
                    </div>
                </div><!-- end ngIf: activeDensity -->
                <!-- ngIf: checkInputsQuantity() --><div class="row-2 ng-scope" style="padding: 5px;" ng-if="checkInputsQuantity()">
                    <div class="card" style="text-align: center ">
                        <div class="card-body" style="padding: 15px">
                            <h6 style="color:#007bff ;text-align: center"><p style="display: inline-block;border-radius: 60px;box-shadow: 0px 0px 2px #888;padding: 0.4em 0.4em ;color:#007bff ;border-color:#007bff ">5</p>  &nbsp; Choose Quantity</h6>
                            <div>
                                <p style="margin: 0px;text-align: left" class="ng-binding">In BUNDLE</p>
                                <input type="number" style="width: 100%;" ng-model="custOrder.quantity" ng-change="calculatePieces()" class="ng-valid ng-dirty ng-valid-number ng-touched" tabindex="0" aria-invalid="false">
                            </div>
                            <br>
                            <!-- ngIf: custOrder.pieces --><p ng-if="custOrder.pieces" class="ng-binding ng-scope" style="">Pieces : 30</p><!-- end ngIf: custOrder.pieces -->
                            <!-- ngIf: custOrder.volume --><p ng-if="custOrder.volume" class="ng-binding ng-scope">Volume : 1.07</p><!-- end ngIf: custOrder.volume -->
                            <br>
                            <!-- ngIf: short_code_selected.Primary != 'KG' && short_code_selected.Primary != 'BLOCKS' --><p style="margin: 0px;text-align: left" ng-if="short_code_selected.Primary != &#39;KG&#39; &amp;&amp; short_code_selected.Primary != &#39;BLOCKS&#39;" class="ng-scope">LDPE</p><!-- end ngIf: short_code_selected.Primary != 'KG' && short_code_selected.Primary != 'BLOCKS' -->
                            <!-- ngIf: short_code_selected.Primary != 'KG' && short_code_selected.Primary != 'BLOCKS' --><br ng-if="short_code_selected.Primary != &#39;KG&#39; &amp;&amp; short_code_selected.Primary != &#39;BLOCKS&#39;" class="ng-scope"><!-- end ngIf: short_code_selected.Primary != 'KG' && short_code_selected.Primary != 'BLOCKS' -->
                            <!-- ngIf: short_code_selected.Primary != 'KG' && short_code_selected.Primary != 'BLOCKS' --><div class="row ng-scope" style="font-size: 12px;margin: 0px" ng-if="short_code_selected.Primary != &#39;KG&#39; &amp;&amp; short_code_selected.Primary != &#39;BLOCKS&#39;">
                                <div class="col" style="padding: 0px">
                                    <input class="form-check-input ng-pristine ng-untouched ng-valid" type="radio" name="ldpe" ng-model="custOrder.ldpe" value="YES" aria-checked="true" tabindex="0" aria-invalid="false">
                                    <label class="form-check-label">
                                        YES
                                    </label>
                                </div>
                                <div class="col" style="padding: 0px">
                                    <input class="form-check-input ng-pristine ng-untouched ng-valid" type="radio" name="ldpe" ng-model="custOrder.ldpe" value="NO" aria-checked="false" tabindex="-1" aria-invalid="false">
                                    <label class="form-check-label">
                                        NO
                                    </label>
                                </div>
                            </div><!-- end ngIf: short_code_selected.Primary != 'KG' && short_code_selected.Primary != 'BLOCKS' -->
                            <br>
                            <div style="text-align: center" ng-click="addToCart()" role="button" tabindex="0">
                                <button class="btn btn-primary" ng-disabled="((custOrder.leng &amp;&amp; custOrder.leng &gt; 0) || (custOrder.width &amp;&amp; custOrder.width &gt; 0)) &amp;&amp; custOrder.thickness &amp;&amp; !custOrder.quantity" type="submit" aria-disabled="false">Add to cart</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div><!-- end ngIf: checkInputsQuantity() -->
            </div>
            <div class="col-4" style="padding: 5px">
                <div class="card">
                    <div class="card-body" style="padding: 15px">
                        <h6 style="color:#007bff;text-align: center"> Order</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <p style="color: grey;margin: 0px">Customer Name</p>
                                <p class="ng-binding">A A BEDDING COMPANY</p>
                                <p style="color: grey;margin:0px">Billing Address</p>
                                <p class="ng-binding">
                                    New No.1/198A, Sengadu, Thottam, Sangoothipalayam, Kaniyur, Coimbatore
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p style="color: grey;margin: 0px">Customer Code</p>
                                <p class="ng-binding">105514</p>
                                <p style="color: grey;margin:0px">Shipping To Code</p>
                                <p class="ng-binding">
                                    N/A
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <!-- ngIf: newOrder.length --><div ng-if="newOrder.length" class="ng-scope" style="">
                        <h6 style="color:#007bff;text-align: center">  Cart Information</h6>
                        <div class="row p-4">
                            <!-- ngRepeat: item in newOrder track by $index --><div class="col-sm-12 ng-scope" ng-repeat="item in newOrder track by $index">
                                <i class="mdi mdi-delete text-danger pull-right" ng-click="removeItem($index)" role="button" tabindex="0"></i>
                                <p class="ng-binding"><span style="color: grey;margin: 0px">Item : </span> 023D GLG AYUSH CUSHIONS</p>
                                <p class="ng-binding"><span style="color: grey;margin: 0px">Material ID : </span> GLGAYC21001800125023D</p>
                                <p class="ng-binding">
                                    <!-- ngIf: item.leng --><span ng-if="item.leng" class="ng-binding ng-scope">L-21</span><!-- end ngIf: item.leng --> <!-- ngIf: item.width --><span ng-if="item.width" class="ng-binding ng-scope">W-18</span><!-- end ngIf: item.width --> <!-- ngIf: item.thickness --><span ng-if="item.thickness" class="ng-binding ng-scope">T-125</span><!-- end ngIf: item.thickness --> &nbsp;&nbsp;&nbsp;
                                    <span style="color: grey;margin: 0px">Qty</span> - 1  &nbsp;&nbsp;&nbsp;
                                    <span style="color: grey;margin: 0px">LDPE</span> - Yes
                                </p>
                                <p class="ng-binding"><span style="color: grey;margin: 0px" class="ng-binding">Pieces</span> - 30 &nbsp;&nbsp;<span style="color: grey;margin: 0px">UOM</span> - BUNDLE</p>
                                <!-- ngIf: item.primary_UOM == 'BUNDLE' --><p ng-if="item.primary_UOM == &#39;BUNDLE&#39; " class="ng-binding ng-scope"><span style="color: grey;margin: 0px">Volume</span> - 0.91 </p><!-- end ngIf: item.primary_UOM == 'BUNDLE' -->
                                <hr>
                            </div><!-- end ngRepeat: item in newOrder track by $index -->
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary text-center" type="submit" ng-click="changeOrderView(3);alertChangeShippingAddress()" tabindex="0">Preview</button>
                        </div>
                    </div><!-- end ngIf: newOrder.length -->
                    <br>
                </div>
            </div>
        </div><!-- end ngIf: orderViewTab.tab == 1 && customer.Dealercode -->
        <!-- ngIf: (orderViewTab.tab == 1 || user.role == 'dealer') && !customer.Dealercode -->
        <!-- ngIf: orderViewTab.tab == 3 && newOrder.length -->
        <!-- ngIf: orderViewTab.tab == 3 && !newOrder.length -->
    </div>
    </div>
