@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Your Account not Configured. Please Contact Admin For Login</h2>

