@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content-wrapper">
                    <!-- ngView:  --><div ng-view="" class="ng-scope" style=""><div class="row profile-page ng-scope">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="profile-header text-white">
          <div class="d-flex justify-content-center justify-content-md-between mx-4 mx-xl-5 px-xl-5 flex-wrap">
            <div class="profile-info d-flex align-items-center justify-content-center flex-wrap mr-sm-3">
              <img class="rounded-circle img-lg mb-3 mb-sm-0" ng-src="../assets/images/faces/face9.png" alt="profile image" src="./B2BOMS Console13_files/face9.png">
              <div class="wrapper pl-sm-4">
                <p class="profile-user-name text-center text-sm-left ng-binding"></p>
                <div class="wrapper d-flex align-items-center justify-content-center flex-wrap">
                  <p class="profile-user-designation text-center text-md-left my-2 my-md-0 ng-binding"></p>
                </div>
              </div>
            </div>
            <div class="details mt-2 mt-md-0">
              <div class="detail-col pr-3 mr-3">
                <p>Last Accessed</p>
                <p class="ng-binding">25 Jan 2022 11:17 AM</p>
              </div>
              <div class="detail-col">
                <p>Created On</p>
                <p class="ng-binding">N/A</p>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-body">
          <ul class="nav tab-switch" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="user-profile-info-tab" data-toggle="pill" data-target="#user-profile-info" role="tab" aria-controls="user-profile-info" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="user-profile-activity-tab" data-toggle="pill" data-target="#user-profile-activity" role="tab" aria-controls="user-profile-activity" aria-selected="false">My Activity</a>
            </li>
          </ul>
          <div class="row">
            <div class="col-md-9">
              <div class="tab-content tab-body" id="profile-log-switch">
                <div class="tab-pane fade show active pr-3" id="user-profile-info" role="tabpanel" aria-labelledby="user-profile-info-tab">
                  <div class="table-responsive">
                    <table class="table table-borderless w-100 mt-4">
                      <tbody><tr>
                        <td class="ng-binding">
                          <strong>Name :</strong> 
                        </td>
                        <td>
                          <strong>Phone :</strong> <!-- ngIf: user.countryCode && user.sellerphone --><span ng-if="user.countryCode &amp;&amp; user.sellerphone" class="ng-binding ng-scope">91 -
                            9590473388</span><!-- end ngIf: user.countryCode && user.sellerphone --><!-- ngIf: !user.countryCode || !user.sellerphone -->
                        </td>
                      </tr>
                      <tr>
                        <td class="ng-binding">
                          <strong>Location :</strong> N/A
                        </td>
                        <td class="ng-binding">
                          <strong>Email :</strong> 
                        </td>
                      </tr>
                      <tr>
                        <td class="ng-binding">
                          <strong>Role :</strong> Admin
                        </td>
                        <td>
                          <!-- <strong>Company :</strong> {{instance_details.fullName}} -->
                        </td>
                      </tr>
                    </tbody></table>
                  </div>
                  <!-- <div class="row mt-5 pb-4 border-bottom">
                    <div class="col-md-6">
                      <div class="d-flex align-items-start pb-3 border-bottom">
                        <img src="../../../assets/images/samples/profile_page/logo/01.png" alt="brand logo">
                        <div class="wrapper pl-4">
                          <p class="font-weight-bold mb-0">Photoshop</p>
                          <small>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</small>
                        </div>
                      </div>
                      <div class="d-flex align-items-start py-3 border-bottom">
                        <img src="../../../assets/images/samples/profile_page/logo/02.png" alt="brand logo">
                        <div class="wrapper pl-4">
                          <p class="font-weight-bold mb-0">Photoshop</p>
                          <small>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</small>
                        </div>
                      </div>
                      <div class="d-flex align-items-start py-3">
                        <img src="../../../assets/images/samples/profile_page/logo/03.png" alt="brand logo">
                        <div class="wrapper pl-4">
                          <p class="font-weight-bold mb-0">Photoshop</p>
                          <small>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-12">
                          <img class="img-fluid rounded" src="../../../assets/images/samples/profile_page/banner_01.jpg" alt="banner image"> </div>
                        <div class="col-12 mt-3">
                          <img class="img-fluid rounded" src="../../../assets/images/samples/profile_page/banner_02.jpg" alt="banner image"> </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 mt-5">
                      <h5 class="mb-5">Stages</h5>
                      <div class="stage-wrapper pl-4">
                        <div class="stages border-left pl-5 pb-4">
                          <div class="btn btn-icons btn-rounded stage-badge btn-inverse-success">
                            <i class="mdi mdi-texture"></i>
                          </div>
                          <div class="d-flex align-items-center mb-2 justify-content-between flex-wrap">
                            <h5 class="mb-0 mr-2">Task Added</h5>
                            <small class="text-muted">28 mins ago</small>
                          </div>
                          <p>Admin is a full featured, multipurpose, premium bootstrap admin template built with Bootstrap 4 Framework</p>
                        </div>
                        <div class="stages border-left pl-5 pb-4">
                          <div class="btn btn-icons btn-rounded stage-badge btn-inverse-danger">
                            <i class="mdi mdi-download"></i>
                          </div>
                          <div class="d-flex align-items-center mb-2 justify-content-between flex-wrap">
                            <h5 class="mb-0 mr-2">Download Completed</h5>
                            <small class="text-muted">45 mins ago</small>
                          </div>
                          <p>one of the best admin panel templates. With this bootstrap admin template, you can quick start your project.</p>
                          <div class="file-icon-wrapper">
                            <div class="btn btn-outline-danger file-icon mr-3">
                              <i class="mdi mdi-file-pdf"></i>
                            </div>
                            <div class="btn btn-outline-primary file-icon">
                              <i class="mdi mdi-file-word"></i>
                            </div>
                          </div>
                        </div>
                        <div class="stages pl-5 pb-4">
                          <div class="btn btn-icons btn-rounded stage-badge btn-inverse-primary">
                            <i class="mdi mdi-checkbox-marked-circle-outline"></i>
                          </div>
                          <div class="d-flex align-items-center mb-2 justify-content-between flex-wrap">
                            <h5 class="mb-0 mr-2">New Task Completed</h5>
                            <small class="text-muted">55 mins ago</small>
                          </div>
                          <p>Admin dashboard works seamlessly on all major web browsers and devices.</p>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="tab-pane fade" id="user-profile-activity" role="tabpanel" aria-labelledby="user-profile-activity-tab">
                  <h3 class="m-5">Coming Soon!</h3>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <!-- <h5 class="my-4">Your Manager</h5>
              <div class="new-accounts">
                <ul class="chats">
                  <li class="chat-persons">
                    <span class="pro-pic">
                        <img src="../../../assets/images/faces/face2.jpg" alt="profile image"> </span>
                      <div class="user">
                        <p class="u-name">Marina Michel</p>
                        <p class="u-designation">Business Development</p>
                      </div>
                  </li>
                </ul>
              </div>
              <h5 class="my-4">Your Branch</h5>
              <div class="new-accounts">
                <ul class="chats">
                  <li class="chat-persons">
                    <span class="pro-pic">
                        <img src="../../../assets/images/faces/face5.jpg" alt="profile image"> </span>
                      <div class="user">
                        <p class="u-name">Marina Michel</p>
                        <p class="u-designation">Business Development</p>
                      </div>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
                </div>
